body{
    background: url(//cdn.clemensotto.com/codepen/img/blurred-bg1.jpg);

}

.top{
    text-align: center;
    color: white;
    border: 0px solid rgb(12, 12, 56);
    background-color: rgb(12, 12, 56);
    margin: 50px 100px 40px;
    border-radius: 5px;
}

h1{
    font-size: 80px;
    padding-top: 70px;
    margin-bottom: 20px;
    text-shadow: 0px 5px 10px rgb(168, 167, 163);
}

.B3T{
    border: 0;
    background-color: rgb(241, 134, 40);
    display: inline-block;
    padding: 10px 20px;
    font-size: 40px;
    border-radius: 10px;
}

.B3T h4{
    margin: -2px 2px;
}

.star{
    padding: 50px;
}

a{
    text-decoration:none;
}

h2{
    color: white;
    font-size: 50px;
    padding-bottom: 30px;
    margin-top: 0px;
}

.bot{
    border: 0;
    background-color: rgb(233, 233, 233);
    margin: 50px 100px 40px;
    border-radius: 5px;
    display: flex;
}

.big{
    display: flex;
}

.pic{
    width: 35%;
    margin: 25px 25px;
}

img{
    width: 100%;
    border-radius: 5px;
}

.introduce{
    width: 65%;
    border: 1px solid rgb(172, 172, 172);
    margin: 20px 20px 45px 20px;
    border-radius: 5px;
}

.LPTT{
    border-bottom: 1px solid  rgb(172, 172, 172);
}

h5{
    font-size: 30px;
    margin: 20px 30px;
}

.text{
    border-radius: 5px;
    background-color: whitesmoke;
    margin: -16px 0 0px 0px;
}

ul{
    list-style: none;
    padding-left: 30px;
}

ul:first-child{
    padding-top: 45px;
}

ul:last-child{
    padding-bottom: 30px;
}

ul li{
    padding: 0 0 20px 10px;
}

.more{
    display: flex;
    padding-bottom: 15px;
}

.download{
    background-color: rgb(8, 140, 228);
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    margin: -20px 10px 0 20px;
    cursor: pointer;
    border: 0;
    outline: none;
}

.download a{
    color: black;
}

.button button{
    border-radius: 7px;
    padding: 10px 15px;
    margin-top: -20px;
    font-size: 18px;
    border-color: rgb(175, 175, 175);
    border-width: 1px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}



