:root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
    background-image: url(voi.jpg);
    background-size: cover;
}

header {
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

body{
    margin: 0;
}

header ul {
    display: flex;
    list-style: none;
}

header li:hover{
    color: black;
    background: cyan;
    padding: 20px;
    text-align: center;
}

header li {
    padding: 0 20px;
}

header li a {
    text-decoration: none;
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header ul li:last-child a {
    background-color: azure;
    color: rgb(16, 20, 16);
    border-color: azure;
    transition: all linear 0.3ms;
    padding: 20px;
    border-radius: 5px;
}

.main {
    padding: 150px 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 200px;
}
input{
    margin: 10px 0;
    padding: 10px;
    border: gray;
    border-radius: 30px;
    outline: none;
}
input:nth-child(2){
    margin-bottom: 30px;
}
button{
    margin: 10px;
    border-radius: 20px;
    padding: 6px;  
    cursor: pointer;
    font-size: 15px; 
}

.ps{
    background-color: rgb(12, 5, 77);
    color: white; 
    display: flex;
} 

.left{
    width: 50%;
    margin-left: 200px;
}

.right{
    width: 50%;
}
